node_modules
dist
/mongodata
./mongodata
_build
_static
_templates
.env
secret.yaml
.DS_Store
lerna-debug.log
package-lock.json
yarn.lock
coverage
.nyc_output
yarn-error.log
.env*.local
.poosh.cache
./packages/back-end/.env

.idea
.vscode
.cache
key.txt
