@import "../../common/styles/variables";

.dashboard {
  margin-top: calculateRem(20);
}
.card {
  display: flex;
  flex-direction: column;
}
.div {
  display: grid;
  grid-template-columns: 2fr;
  flex: 1;
  .count {
    display: flex;
    flex-direction: column;
    font-size: calculateRem(16);
    font-weight: 600;
    &_item {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin-bottom: calculateRem(10);
      &__heading {
      }
      &__data {
        justify-self: flex-end;
      }
    }
  }
  .total {
    justify-self: flex-end;
  }
}

.title {
  font-weight: 400;
  font-size: calculateRem(14);
  color: $background;
}

.interactionList {
  width: calculateRem(10);
}
