@import "../../common/styles/variables";

.dashboard {
  margin-top: calculateRem(20);
}
.count {
  margin-bottom: calculateRem(20);
  font-size: calculateRem(20);
  font-weight: 500;
}

.heading {
  color: $background;
}

.card__light_orange {
  background: $orange-bg;
}

.card__light_blue {
  background: $blue-bg;
}

.card__light_pink {
  background: $pink-bg;
}

.card__light_purple {
  background: $purple-bg;
}
